.container {
  background-color: #343a40;
  height: 100vh;
  width: 100vw;
  /* padding: 0 0.5rem; */
  display: flex;
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  align-items: center;
}

.main {
  
  height: 100vh;
  width: 100vw;
  padding: 0 15rem;
  /* flex: 1; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  align-items: center;
  /* font-size: 1.25rem; */
}

.browse {
  height: 50vw;
  background-color: blue;
}
